databases:
  default:
    DATABASE: yur_db_name
    HOST:     127.0.0.1
    PORT:     5432
    USER:     username
    PASSWORD: password

system:
  DEBUG:        true
  SERVER:       127.0.0.1:8888
  SECRET_KEY:   1LF1u'>_pngZp))R|{bQX5&qYV_bcLx3ii&z;a7,;&,2"FeOgM)lvL)yY%>Hpv
  LOG_PATH:     /var/log/monitoring_price.log
  PINCODE:      0000

session:
  KEY:  veHH1VVTeOUkMgubz28kHt5jabRpk0F8
  MAX_AGE: 86400

admin:
  NAME:   Alex
  EMAIL:  template@mail.ru

email:
  NAME:     Title
  FROM:     template@mail.ru
  HOST:     mail.server.com
  PORT:     25
  USER:     username
  PASSWORD: password

static:
  STATIC_ROOT:  ./static
  MEDIA_ROOT:   ./media

sms:
  URL:      https://smsservice.com
  LOGIN:    username
  PASSWORD: password
  SOURCE:   Example.com

fire_base:
    CERT_PATH: /home/user/fire-base-admin.json

